@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bem Vindo ao Sistema de Estágio Probatório !</h1>
    <p class="mt-5">Learn about <a href="https://github.com/GianLost/ImageGallery">using Sep_Web app with ASP.NET Core</a>.</p>
</div>
